<html>
	<body>
		<h1>This is an h1 tag</h1>
<%LUA
local i = 0
while (i<10) do
	i = i + 1
echo(i..") and this is written directly from lua<br>")
end
LUA%>

		<h3> and this is an h3 tag</h3>
<center>
<%LUA
	echo("Fun<br>")
	local text = "but it is broken"
	text = text .. "<br>as <b>FUCK</b>"
	echo(text)
LUA%>
</center>
<%LUA
--Send nudes
	echo(os.date("%H:%M:%S",os.time()).."<br>")
		local file = io.open("www/testfile.txt","r")
	echo(file:read'*a')
					file:close()
	echo('<hr><img src="UwU.png">')
LUA%>
	</body>
</html>
